<div class="card">
  <div class="card-header">
    <h2><%= @page.title %></h2>
  </div>
  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Title:</dt>
      <dd class="col-sm-9"><%= @page.title %></dd>

      <dt class="col-sm-3">Slug:</dt>
      <dd class="col-sm-9"><%= @page.slug %></dd>

      <dt class="col-sm-3">Published:</dt>
      <dd class="col-sm-9">
        <% if @page.published %>
          <span class="badge bg-success">Yes</span>
        <% else %>
          <span class="badge bg-secondary">No</span>
        <% end %>
      </dd>

      <dt class="col-sm-3">Locale:</dt>
      <dd class="col-sm-9"><%= @page.locale %></dd>

      <dt class="col-sm-3">Content:</dt>
      <dd class="col-sm-9"><%= @page.content %></dd>
    </dl>
  </div>
</div>

<div class="mt-3">
  <%= link_to 'Edit', edit_admin_page_path(@page), class: 'btn btn-warning' %>
  <%= link_to 'Back', admin_pages_path, class: 'btn btn-secondary' %>
</div>
