<div class="card">
  <div class="card-header">
    <h2><%= @testimonial.name %></h2>
  </div>
  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Name:</dt>
      <dd class="col-sm-9"><%= @testimonial.name %></dd>

      <dt class="col-sm-3">Quote:</dt>
      <dd class="col-sm-9"><%= @testimonial.quote %></dd>

      <% if @testimonial.avatar.attached? %>
        <dt class="col-sm-3">Avatar:</dt>
        <dd class="col-sm-9">
          <%= image_tag @testimonial.avatar, style: 'max-width: 150px; max-height: 150px; border-radius: 50%;' %>
        </dd>
      <% end %>
    </dl>
  </div>
</div>

<div class="mt-3">
  <%= link_to 'Edit', edit_admin_testimonial_path(@testimonial), class: 'btn btn-warning' %>
  <%= link_to 'Back', admin_testimonials_path, class: 'btn btn-secondary' %>
</div>
