<div class="row">
  <div class="col-md-12">
    <h1><%= t('about.title') %></h1>
    <div class="lead">
      <p><%= t('about.welcome_text') %></p>
      <p><%= t('about.team_text') %></p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-12">
    <h2><%= t('about.mission_title') %></h2>
    <p><%= t('about.mission_text') %></p>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-12">
    <%= link_to t('about.view_services'), services_path, class: 'btn btn-primary' %>
    <%= link_to t('about.contact_us'), new_contact_message_path, class: 'btn btn-secondary' %>
  </div>
</div>
